

{% extends 'base.html' %}

{% block body %}
    <div>
      <h4>Move the robot</h4>
	      <form action="/dashboard/move" method="post">
	        <button type="submit" id="set_on" 
	          class="btn btn-success"
	          name="motion" value="+x">
	          +x
	        </button>
	        <button type="submit" id="set_on" 
	          class="btn btn-success"
	          name="motion" value="-x">
	          -x 
	        </button>
	        <button type="submit" id="set_on" 
	          class="btn btn-success"
	          name="motion" value="+y">
	          +y 
	        </button>
	        <button type="submit" id="set_on" 
	          class="btn btn-success"
	          name="motion" value="-y">
	          -y 
	        </button>
	        <button type="submit" id="set_on" 
	          class="btn btn-success"
	          name="motion" value="+z">
	          +z 
	        </button>
	        <button type="submit" id="set_on" 
	          class="btn btn-success"
	          name="motion" value="-z">
	          -z 
          </button>
          <div>
            <p> Velocity </p>
            <input type="number" name="speed" name="" min="0.001" max="0.5" step="0.001" value="0.001">
            <p> Acceleration </p>
            <input type="number" name="acceleration" name="" min="0.001" max="10" step="0.001" value="8">
          </div>
	      </form>
    </div>
{% endblock %}

